.hero {
    &__box {
        position: relative;
        height: 740px;
        padding: 110px 0 0;
        border-radius: 24px;
        overflow: hidden;
        background: rgba(224, 167, 167, 0.25);
    }

    &__title {
        font-weight: 800;
        font-size: 110px;
        line-height: 120px;
        text-align: center;
    }

    &__background {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}