.be {
    padding: 95px 0;
    
    &__box {
        position: relative;
        height: 740px;
        width: 100%;
        background: url(/assets/images/nebbo.jpeg) no-repeat;
        margin: 0 auto;
        border-radius: 20px;
        overflow: hidden; 
    }

    &__text {
        padding: 155px;
        &::after {
            content: '';
            width: 1360px;
            height: 740px;
            background: url(/assets/images/katerina1.png);
            position: absolute;
            top: 0%;
            right: 0%;
        }
    }

    &__title {
        font-weight: 800;
        font-size: 110px;
        line-height: 120px;
        text-align: center;
        color: #0B0614;
    }
}