.choice {
    padding-bottom: 95px;
    position: relative;
    margin-top: -64px;
    z-index: 1;

    &__box {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4, 1fr) 135px;
        gap: 30px;
        padding: 24px;
        margin: 0 60px;
        border-radius: 24px;
        background: #FFFFFF;
        box-shadow: 0px 30px 60px rgba(198, 191, 191, 0.18);
    }

    &__item {
        &:not(:nth-child(4)) {
            padding-right: 15px;
            border-right: 1px solid rgba(10, 5, 20, 0.2);
        }
    }

    &__title {
        margin-bottom: 9px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #0B0614;
        opacity: 0.5;
    }
}
